@mixin input {
  height: 55px;
  padding: 10px 10px 5px;
  color: #555a5f;
  font-size: 18px;
  border-left: 1px solid #e5e7e8;
  border-right: 1px solid #e5e7e8;
  border-bottom: thin solid #f3f3f4;
  border-top: 3px solid #a2a7ac;
  border-radius: 6px;
  background: #f2f5f8;
  box-sizing: border-box;
}

.questions {
  height: 510px;
  padding-top: 105px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .questions__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media screen and (max-width: 1170px) {
      max-width: 940px;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      max-width: 650px;
    }
  }

  &__question {
    color: #3f2803;
    font-size: 36px;
    line-height: 60px;
    flex: 1 1 35%;
    padding-top: 15px;
    span {
      @include titlesFonts;
      background: rgba(254, 232, 114, 0.7);
    }
    &:last-child {
      text-align: right;
      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
    @media screen and (max-width: 1170px) {
      font-size: 27px;
      line-height: 45px;
    }
    @media screen and (max-width: 970px) {
      font-size: 24px;
      line-height: 35px;
      padding-top: 20px;
    }
    @media screen and (max-width: 800px) {
      text-align: center;
    }
    @media screen and (max-width: 800px) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__form {
    padding-top: 20px;
    flex: 3 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      @include input;
      opacity: 0.8;
      width: 100%;
      margin-bottom: 15px;
      @media screen and (max-width: 800px) {
        max-width: 500px;
      }
    }
    button {
      @include greenBtn;

      &:hover {
        background: linear-gradient(#b5ff03, #80b500);
      }

      @media screen and (max-width: 1170px) {
        font-size: 14px;
        line-height: 45px;
      }
      @media screen and (max-width: 970px) {
        padding: 0 25px;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        max-width: 500px;
      }
    }
    @media screen and (max-width: 1170px) {
      flex: 0 0 28%;
    }
  }

  @media screen and (max-width: 800px) {
    padding: 15px 0 25px;
    height: auto;
  }
}
