.questions {
  height: 510px;
  padding-top: 105px;
  background: url(../images/questions/greenhouse-contactform.jpg) no-repeat
    center;
  background-size: cover;
  .container1170px {
    display: flex;
    justify-content: space-between;
    div:nth-of-type(1) {
      background-color: greenyellow;
    }
  }

  &__question {
    color: #3f2803;
    font-size: 36px;
    line-height: 60px;
    span {
      @include h2345;
      background: rgba(254, 232, 114, 0.7);
    }
    &:last-child {
      text-align: right;
    }
  }

  &__form {
    padding-top: 10px;
    input {
      height: 55px;
      width: 100%;
      margin: 5px 0 15px;
      padding: 5px 10px;
      color: #555a5f;
      font-size: 18px;
      border-left: 1px solid #e5e7e8;
      border-right: 1px solid #e5e7e8;
      border-bottom: thin solid #f3f3f4;
      border-top: 3px solid #a2a7ac;
      border-radius: 6px;
      background: #f2f5f8;
      box-sizing: border-box;
      opacity: 0.8;
    }
  }
}
.container1170px {
}
