.warrantyInfo {
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  h3 {
    @include titlesFonts;
    max-width: 65%;
    color: #fff;
    line-height: 45px;
    font-size: 30px;
    @media screen and (max-width: 748px) {
      font-size: 24px;
      line-height: 30px;
      max-width: 94%;
    }
    @media screen and (max-width: 748px) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  @media screen and (max-width: 748px) {
    height: 210px;
  }
}
